@use "~@angular/material" as mat;
@import "~@angular/material/theming";

$primary-colors: (
  main: #0084cc,
  lighter: #c2e2f2,
  darker: #2081c4,
  200: #0084cc,
  contrast: (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text
  )
);

$accent-colors: (
  main: #f58025,
  lighter: #fde0cb,
  darker: #f37c37,
  200: #f58025,
  contrast: (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text
  )
);

$my-primary: mat.define-palette($primary-colors, main, lighter, darker);
$my-accent: mat.define-palette($accent-colors, main, lighter, darker);
$my-warn: mat.define-palette(mat.$red-palette);

$text-main: #515151;
$text-header: #065494;

$my-light-theme: mat.define-light-theme($my-primary, $my-accent, $my-warn);

$primary-main: map_get($primary-colors, main);
$primary-lighter: map_get($primary-colors, lighter);
$primary-darker: map_get($primary-colors, darker);

$accent-main: map_get($primary-colors, main);
$accent-lighter: map_get($primary-colors, lighter);
$accent-darker: map_get($primary-colors, darker);

$default-gap: 16px;
$toolbar-height: 64px;

// Dark theme
$my-dark-primary-colors: (
  main: #ff4c29,
  lighter: #f38570,
  darker: #ff4d2985,
  200: #ff4c29,
  contrast: (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $light-primary-text
  )
);

$my-dark-primary: mat.define-palette(
  $my-dark-primary-colors,
  main,
  lighter,
  darker
);
$my-dark-main: map_get($my-dark-primary, main);
$my-dark-accent: mat-palette($mat-amber, 900);
$my-dark-warn: mat-palette($mat-deep-orange);
$my-dark-theme: mat.define-dark-theme(
  $my-dark-primary,
  $my-dark-accent,
  $my-dark-warn
);
