<mat-card *ngIf="wozObject">
  <div class="container">
    <h3 class="address">
      {{ wozObject.wozobjectnummer }}
    </h3>
    <h3 class="address">
      {{ address }}
    </h3>
    <h3 class="address">
      {{ secondLineAddress }}
    </h3>
    <span></span>
    <mat-form-field class="timeframe-select">
      <mat-label>{{ "timeframe" | transloco }}</mat-label>
      <mat-select [(value)]="selectedTimeFrame">
        <mat-option *ngFor="let timeFrame of timeframes" [value]="timeFrame">{{
          timeFrame.description
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
