.large-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 16px 16px 16px 8px;
}

.icons {
  &:hover {
    cursor: pointer;
  }
}

.fold-icon {
  transform: rotate(180deg);
}
