mat-card {
  height: 100%;
}

.details-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.object-row {
  grid-area: object-properties;
  display: flex;
}

.object-properties {
  margin-left: 16px;
  flex: 1;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.tabs {
  margin-top: 16px;
  flex: 2;
}
.maps {
  margin-top: 16px;
  margin-left: 16px;
  flex: 1;
}
