<mat-spinner
  class="loader"
  *ngIf="loading$ | async; else content"
  [diameter]="48"
  aria-label="searching objects"
></mat-spinner>
<ng-template #content>
  <ng-container *ngIf="wozObject$ | async as wozobject">
    <div class="details-grid">
      <div class="object-row">
        <app-photos-card [id]="id" class="photo"></app-photos-card>
        <app-object-properties
          [id]="id"
          class="object-properties"
        ></app-object-properties>
      </div>
      <div class="bottom-row">
        <app-object-tabs class="tabs" [id]="id"></app-object-tabs>
        <app-object-map
          *ngIf="wozObjectGeoJson$ | async as geo"
          [objectFeatures]="geo"
          class="maps"
        ></app-object-map>
      </div>
    </div>
  </ng-container>
</ng-template>
