@import 'variables';

:host {
  display: flex;
  height: 100%;
}

mat-card {
  height: 100%;
}

.details-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: $default-gap;
  margin-bottom: $default-gap;
}

.object-row {
  grid-area: object-properties;
  display: flex;
}

.properties {
  display: flex;
  width: 100%;
  margin-left: 16px;
  flex: 1;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.tabs {
  margin-top: 16px;
  flex: 2;
}
.maps {
  margin-top: 16px;
  margin-left: 16px;
  padding-bottom: 16px;
  flex: 1;
}
