@import "variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 64px;
  margin: $default-gap;
}

mat-card {
  cursor: pointer;
}

mat-card-title {
  text-align: center;
}
