<div class="grid">
  <mat-card (click)="navigateToObjectSearch()"
    ><mat-card-title>{{ "object-search" | transloco }}</mat-card-title>
  </mat-card>
  <mat-card (click)="navigateToTaxOverview()"
    ><mat-card-title>{{ "tax-overview" | transloco }}</mat-card-title></mat-card
  >
  <mat-card
    ><mat-card-title>{{
      "transaction-overview" | transloco
    }}</mat-card-title></mat-card
  >
  <mat-card
    ><mat-card-title>{{ "reports" | transloco }}</mat-card-title></mat-card
  >
  <mat-card
    ><mat-card-title>{{ "exports" | transloco }}</mat-card-title></mat-card
  >
  <mat-card
    ><mat-card-title>{{ "settings" | transloco }}</mat-card-title></mat-card
  >
</div>
