<ag-grid-angular
  *ngIf="rowData$ | async as rowData"
  [class.ag-theme-balham]="(isDarkTheme$ | async) === false"
  [class.ag-theme-balham-dark]="isDarkTheme$ | async"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [skipHeaderOnAutoSize]="true"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
<mat-spinner
  class="loader"
  *ngIf="(loading$ | async) && (rowData$ | async) === undefined"
  [diameter]="48"
  aria-label="searching objects"></mat-spinner>
