@import "variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  flex: 1;
  padding-left: 8px;
  overflow: auto;
}

.search-drawer {
  width: 360px;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 16px 16px 16px 8px;
  &:hover {
    cursor: pointer;
  }
}

.fold-icon {
  transform: rotate(180deg);
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.search {
  flex: 1;
}

.search-button {
  margin-left: auto;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
