<div class="page">
  <mat-spinner
    class="loader"
    *ngIf="loading$ | async; else content"
    [diameter]="48"
    aria-label="searching objects"></mat-spinner>
  <ng-template #content>
    <div class="grid-container" *ngIf="selectedTaxation$ | async as taxation">
      <button mat-raised-button color="accent" class="status">{{ taxation.status }}</button>
      <mat-card class="model"></mat-card>
      <woz-taxcode-select
        class="taxcode"
        [taxations]="taxations$ | async"
        [selectedTaxation]="taxation"
        (selectedTaxationChange)="onTaxationSelect($event)"></woz-taxcode-select>
      <button mat-raised-button color="primary" class="valuate-btn">Valuate</button>
      <div class="middle-row">
        <woz-photos-card [id]="(freezeWozObject$ | async)?.wozobjectnummer" class="photo-box"></woz-photos-card>
        <mat-card class="value-details"></mat-card>
        <mat-card class="object-details"></mat-card>
      </div>
      <div class="bottom-row">
        <mat-card class="detail-tabs"></mat-card>
        <woz-map-box
          class="mapbox"
          [layers]="layers"
          [sources]="mapData$ | async"
          [layerSelection]="false"></woz-map-box>
      </div>
    </div>
  </ng-template>
</div>

