<mat-card>
  <mat-card-subtitle>
    {{ address }}
  </mat-card-subtitle>
  <mat-spinner *ngIf="loading$ | async; else content" class="loader" [diameter]="48"></mat-spinner>
  <ng-template #content>
    <div class="action-row">
      <ng-container *ngIf="imageId$ | async as id">
        <input type="file" class="file-input" (change)="onFileSelected(fileUpload.files, id)" #fileUpload multiple />
        <button mat-icon-button (click)="fileUpload.click()">
          <mat-icon>file_upload</mat-icon>
        </button>
      </ng-container>
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <span></span>
      <button mat-icon-button (click)="onExpand()" *ngIf="!expanded">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
    <div [class]="containerClass" *ngIf="images$ | async as images">
      <woz-photo-image [images]="images"></woz-photo-image>
    </div>
  </ng-template>
</mat-card>
