<mat-spinner
  class="loader"
  *ngIf="loading$ | async; else content"
  [diameter]="48"
  aria-label="searching objects"></mat-spinner>
<ng-template #content>
  <div class="search-list" *ngIf="wozObjects$ | async as Wozobjects">
    <woz-object-search-list [wozObjects]="Wozobjects" (select)="onSelect($event)"></woz-object-search-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <woz-notes-form class="content" (close)="onClose()" [selectedObject]="selectedObject"></woz-notes-form>
</ng-template>
