<mat-card>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab [label]="'subobjects' | transloco">
      <div class="tab-container">
        <app-subobject-grid> </app-subobject-grid>
      </div>
    </mat-tab>
    <mat-tab [label]="'comparable_transactions' | transloco">{{
      "comparable_transactions" | transloco
    }}</mat-tab>
    <mat-tab [label]="'tax_options' | transloco">{{
      "tax_options" | transloco
    }}</mat-tab>
    <mat-tab [label]="'record25' | transloco">{{
      "record25" | transloco
    }}</mat-tab>
    <mat-tab [label]="'notes' | transloco">{{ "notes" | transloco }}</mat-tab>
  </mat-tab-group>
</mat-card>
