@import "variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

mat-card {
  flex: 1;
  overflow: auto;
  max-height: calc(100vh - 128px);
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.search {
  flex: 1;
}

.search-button {
  margin-left: auto;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: 25px;
}
