:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card {
  flex: 1;
}

.properties-form {
  min-width: 150px;
  width: 100%;
}

.propertie-width {
  padding-left: 8px;
  width: 33%;
}

.action-row {
  display: flex;
  flex-direction: row;
}

span {
  flex: 1;
}

.address {
  font-weight: normal;
  margin-right: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
