:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-card .mat-divider-horizontal {
  position: inherit !important;
}

.properties-container {
  display: flex;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.properties-form {
  margin-top: 8px;
  min-width: 150px;
  width: 66%;
}

.propertie-width {
  padding-left: 8px;
  width: 33%;
}

.action-row {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
}

span {
  flex: 1;
}

.address {
  font-weight: normal;
  margin-right: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
