<ng-container *ngIf="wozObject$ | async as wozObject">
  <mat-card>
    <div class="action-row">
      <span></span>
      <button mat-icon-button (click)="onRefresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="onSave(wozObject)">
        <mat-icon>save</mat-icon>
      </button>
      <mat-icon *ngIf="saveState$ | async">check_circle</mat-icon>
    </div>
    <div class="properties-container">
      <woz-object-grid [wozObject]="wozObject$ | async"></woz-object-grid>
      <woz-object-grid [wozObject]="wozObject$ | async"></woz-object-grid>
    </div>
  </mat-card>
</ng-container>
