@import "variables";
@import "angular-material-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: var(--text-color-hard);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

mat-card.no-padding {
  padding: 0;
  overflow: hidden;

  .mat-card-title {
    padding: 16px 16px 0;
  }

  .mat-card-title {
    font-size: 20px;
    font-weight: 400;
    color: #6e6e6e;
  }
}
