@import "variables";
@import "angular-material-theme";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
@import "../node_modules/mapbox-gl/dist/mapbox-gl.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: var(--text-color-hard);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

mat-card.no-padding {
  padding: 0;
  overflow: hidden;

  .mat-card-title {
    padding: 16px 16px 0;
  }

  .mat-card-title {
    font-size: 20px;
    font-weight: 400;
    color: #6e6e6e;
  }
}

mat-form-field {
  font-size: 14px !important;
}

// override material inline style to allow mini nav state
mat-drawer[style] {
  visibility: visible !important;
  display: flex !important;
}

.mat-drawer {
  transform: none !important;
}

.mat-paginator-container {
  min-height: 32px !important;
}

.loader {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.color-scheme-dark .mapboxgl-popup-content {
  background-color: #082032;
}

.color-scheme-dark .mapboxgl-popup-tip {
  border-top-color: #082032;
}
