:host {
  display: block;
  position: relative;
  padding-top: 8px;
}

.mat-list-item {
  margin-bottom: 4px;
  display: grid !important;
  grid-template-areas:
    "details"
    "address"
    "second-address"
    "divider";
  height: 100%;
}

.address {
  margin-left: 8px;
  grid-area: address;
}

.second-address {
  margin-left: 8px;
  grid-area: second-address;
}

.details {
  margin-left: 8px;
  grid-area: details;
}

.object-details {
  margin-left: 8px;
  grid-area: object-details;
  padding-bottom: 4px;
}

.divider {
  grid-area: divider;
}

::ng-deep .mat-list-item-content {
  padding-left: 0px !important;
}
