@import 'variables';

:host {
  display: block;
}

hr {
  border-width: 0px;
  margin-top: 2px;
  margin-right: 8px;
  height: 4px;
}

.img-container {
  width: 56px;
  height: 56px;
  margin-right: 8px;
}

.image {
  width: 56px;
  height: 56px;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  flex: 1;
  font-weight: bold;
}

::ng-deep .mat-list-item-content {
  padding-left: 0px !important;
  height: 100%;
}

mat-list-item {
  height: 100% !important;
}

.mat-divider {
  margin-top: 4px;
  margin-bottom: 4px;
}
