<mat-drawer-container class="container">
  <mat-drawer
    fixedInViewport="true"
    mode="side"
    [opened]="isExpanded"
    #drawer
    [class.mat-drawer-collapsed]="!isExpanded"
    ><woz-object-search (toggleMenu)="toggleMenu()" [isExpanded]="isExpanded"></woz-object-search
  ></mat-drawer>

  <mat-drawer-content class="container">
    <div class="details">
      <woz-map-box
        [@displayMapState]="state$ | async"
        [layers]="layers"
        [layerSelection]="false"
        [multipleSelect]="false"
        [flyTo]="goToObject$ | async"
        [sources]="mapSource$ | async"
        (clickSelect)="onSelectionChange($event)"></woz-map-box>
      <ng-container *ngIf="state$ | async as state">
        <div class="router" [@displayObjectState]="state">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
