<mat-drawer-container class="container">
  <mat-drawer
    fixedInViewport="true"
    mode="side"
    [opened]="isExpanded"
    #drawer
    [class.mat-drawer-collapsed]="!isExpanded"
    ><app-object-search
      (toggleMenu)="toggleMenu()"
      [isExpanded]="isExpanded"
    ></app-object-search
  ></mat-drawer>

  <mat-drawer-content class="container">
    <div class="details">
      <app-map-box-map
        [toggleRefresh]="isExpanded"
        (onSelect)="onSelectionChange($event)"
      ></app-map-box-map>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
