<mat-drawer-container class="container">
  <mat-drawer
    fixedInViewport="true"
    mode="side"
    [opened]="isExpanded"
    #drawer
    [class.mat-drawer-collapsed]="!isExpanded"
    ><app-object-search
      (toggleMenu)="toggleMenu()"
      (toggleMap)="toggleMap()"
      [isExpanded]="isExpanded"
    ></app-object-search
  ></mat-drawer>

  <mat-drawer-content class="container">
    <div class="details">
      <app-map-box-map
        [@displayMapState]="state$ | async"
        [toggleRefresh]="isExpanded"
        (onSelect)="onSelectionChange($event)"
      ></app-map-box-map>
      <ng-container *ngIf="state$ | async as state">
        <div class="router" [@displayObjectState]="state">
          <router-outlet *ngIf="state === 'displayObject'"></router-outlet>
        </div>
      </ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
