@import "variables";

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: $toolbar-height;
}

.logo {
  height: 48px;
}

.timeframe-select {
  width: 250px;
  font-size: 14px !important;
}
