<ng-container *ngIf="selectedObject; else selectObject">
  <div class="note-content">
    <mat-form-field class="note-select" *ngIf="isReadOnly()">
      <mat-label>Notities</mat-label>
      <mat-select [(value)]="selectedNote">
        <mat-option *ngFor="let note of notes$ | async" [value]="note">
          {{ getShortText(note) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="info-row">
      <mat-form-field class="info-field">
        <mat-label>Wozobjectnummer</mat-label>
        <input matInput [value]="selectedObject" [disabled]="true" />
      </mat-form-field>
      <mat-form-field class="info-field">
        <mat-label>Gebruiker</mat-label>
        <input matInput value="Demo" [disabled]="true" />
      </mat-form-field>
    </div>
    <mat-form-field class="date-field">
      <mat-label>Datum</mat-label>
      <input matInput [matDatepicker]="dp1" disabled />
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="notes-field" *ngIf="selectedNote">
      <mat-label>Enter note</mat-label>
      <textarea
        matInput
        [(ngModel)]="selectedNote.noteText"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="8"
        placeholder="Enter note here"
        [disabled]="isReadOnly()"
        required
        #textArea
      ></textarea>
    </mat-form-field>
  </div>
  <div class="action-row">
    <button
      mat-raised-button
      class="action-button"
      (click)="onEdit()"
      [disabled]="!isReadOnly() && !!selectedNote"
    >
      Edit
    </button>
    <button
      mat-raised-button
      color="primary"
      class="action-button"
      [disabled]="!isReadOnly()"
      (click)="onAdd()"
    >
      Add
    </button>
    <button
      *ngIf="!isReadOnly()"
      mat-raised-button
      color="primary"
      class="action-button"
      (click)="onCancel()"
    >
      {{ isAddMode() ? "Cancel add" : "Cancel edit" }}
    </button>
    <woz-save-button
      [color]="'accent'"
      class="action-button"
      (save)="onSave()"
      [text]="'Save'"
      [disabled]="!isModified()"
      [state]="saveState$ | async"
    ></woz-save-button>
    <span></span>
    <button mat-raised-button (click)="onClose()">Close</button>
  </div>
</ng-container>
<ng-template #selectObject
  ><app-no-object class="no-object"></app-no-object
></ng-template>
