<div class="small-bar">
  <button mat-icon-button>
    <mat-icon (click)="onToggleMenu()" matTooltip="Expand menu">
      double_arrow
    </mat-icon>
  </button>
  <mat-divider></mat-divider>
  <button mat-icon-button>
    <mat-icon (click)="onFilter()" matTooltip="Find objects">
      refresh
    </mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="onSetFilters()" matTooltip="Set filters">
      filter_alt
    </mat-icon>
  </button>
  <mat-divider></mat-divider>
  <button mat-icon-button>
    <mat-icon (click)="onToggleGrid()" matTooltip="Open overview">
      view_list
    </mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="onToggleObject()" matTooltip="Open objects">
      maps_home_work
    </mat-icon>
  </button>
  <mat-divider></mat-divider>
</div>
