<div class="small-bar">
  <button mat-icon-button>
    <mat-icon (click)="onToggleMenu()" matTooltip="Expand menu">
      double_arrow
    </mat-icon>
  </button>
  <mat-divider></mat-divider>
  <ng-container *ngIf="state$ | async as state">
    <button
      mat-icon-button
      [color]="
        !(filterState$ | async) && state !== 'displayObject' ? 'primary' : ''
      "
    >
      <mat-icon (click)="onFilter()" matTooltip="Find objects">
        refresh
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon (click)="onSetFilters()" matTooltip="Set filters">
        filter_alt
      </mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-icon-button
      [color]="state !== 'displayObject' ? 'primary' : ''"
    >
      <mat-icon (click)="onToggleGrid()" matTooltip="Open overview">
        view_list
      </mat-icon>
    </button>
    <button
      mat-icon-button
      [color]="state === 'displayObject' ? 'primary' : ''"
    >
      <mat-icon (click)="onToggleObject()" matTooltip="Open objects">
        maps_home_work
      </mat-icon>
    </button>
  </ng-container>
  <mat-divider></mat-divider>
  <ng-container *ngIf="selectedObjects$ | async as selectedObjects">
    <button mat-icon-button [disabled]="selectedObjects.length === 0">
      <mat-icon matTooltip="Change status">
        military_tech
      </mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="selectedObjects.length === 0"
      (click)="onOpenNotes(selectedObjects)"
    >
      <mat-icon matTooltip="Add note">
        note_add
      </mat-icon>
    </button>
    <button mat-icon-button [disabled]="selectedObjects.length === 0">
      <mat-icon matTooltip="Add record25">
        check_box
      </mat-icon>
    </button>
  </ng-container>
  <mat-divider></mat-divider>
  <button mat-icon-button>
    <mat-icon matTooltip="Save changes">
      save
    </mat-icon>
  </button>
</div>
